global:
  smtp_from: {{ auth_username }}
  smtp_smarthost: {{ smtp_server }}
  smtp_auth_username: {{ auth_username }}
  smtp_auth_identity: {{ auth_username }}
  smtp_auth_password: {{ auth_password }}

route:
  group_wait: 30s # alertmanager need wait and aggregate more data then send to receiver. alertmanager will see if more alter to receiver group then aggregate -> send to receiver
  group_interval: 5m # 300s
  # for example: group_wait and group_interval
  # t = 0s   => alert firing { x='a' }
  # t = 15s  => alert firing { x='b' }  => within 30s
  # t = 30s  => { x='a' } and { x='b' } => (done group_wait) => send to receiver group
  # t = 100s => alert firing { x='c' }
  # t = 150s => alert firing { x='d' }
  # t = 330s => { x='a' }, { x='b' }, { x='c' } and { x='d' } => (done group_interval + group_wait) => send to receiver group
  # t = 450s => alert firing { x='e' } 
  # t = 500s => RESOLVED { x='a' }, { x='c' }
  # t = 630s => { x='b' }, { x='d' } and { x='e' } => send to receiver group
  # t = 930s => if no new alert come in => no notifications is sent => Then repeat_interval come in 🔔

  # t = 930 => repeat_interval 🔔
  # t = 1230 => repeat_interval 🔔
  repeat_interval: 5m # when no have new alert to receiver group => 
  receiver: discord_general_channel
  routes:
    # devops team
    - match_re:
        type: (instance|linux|window|aws|gcp|azure)
      receiver: devops_team_discord_channel
      continue: true
      group_by: [category]
      # fallback receiver
      routes:
      - receiver: devops_team_discord_channel
        match:
          severity: critical|warning|error

      - receiver: devops_manager_email
        match:
          severity: error

    # application team
    - match_re:
        type: (application|python|go|php|nodejs)
      receiver: python_team_discord_channel
      continue: true
      group_by: [category]
      # fallback receiver
      routes:
      - receiver: python_team_discord_channel
        match:
          severity: critical|warning|error

      - receiver: application_manager_email
        match:
          severity: error

receivers:
# general channel
- name: discord_general_channel
  discord_configs:
  - webhook_url: {{ general_discord_webhook_url }}

# devops team
- name: devops_team_discord_channel
  discord_configs:
  - webhook_url: {{ linux_manager_group_webhook_url }}

- name: devops_manager_email
  email_configs:
    - to: {{ admin_user_email }}
      # check global config
      # from: {{ auth_username }}
      # smarthost: {{ smtp_server }}
      # auth_username: {{ auth_username }}
      # auth_identity: {{ auth_username }}
      # auth_password: {{ auth_password }}
      headers:
          subject: 'Prometheus Mail Alerts'

# application team
- name: python_team_discord_channel
  discord_configs:
  - webhook_url: {{ python_application_manager_group_webhook_url }}

- name: application_manager_email
  email_configs:
    - to: {{ python_application_manager_user_email }}
      # check global config
      # from: {{ auth_username }}
      # smarthost: {{ smtp_server }}
      # auth_username: {{ auth_username }}
      # auth_identity: {{ auth_username }}
      # auth_password: {{ auth_password }}
      headers:
          subject: 'Prometheus Mail Alerts: Notify for Applications'
