global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
    - targets: ["localhost:9090"]

  - job_name: mysqld_exporter
    metrics_path: /metrics
    static_configs:
    - targets:
      {% for item in mysqld_exporter_hosts %}
      - {{ item }}
      {% endfor %}

  - job_name: telegraf
    metrics_path: /metrics
    file_sd_configs:
      - files:
        - file_sd.yml
    relabel_configs:
      - source_labels: [team]
        regex: '(.*)'
        replacement: 'organization_HaNoi_${1}'
        target_label: team
      # remove active = "false"
      - source_labels: [active]
        regex: (false|inactive|drop)
        action: drop
      # keep active = "true"
      - source_labels: [active]
        regex: (true|active|keep)
        action: keep

  - job_name: aws_ec2_instance
    metrics_path: /metrics
    ec2_sd_configs:
      - access_key: "{{ aws_access_key }}"
        secret_key: "{{ aws_secret_key }}"
        region: "{{ aws_region }}"
    relabel_configs:
      - source_labels: [__meta_ec2_public_ip]
        regex: '(.*)'
        replacement: '${1}:9100'
        target_label: __address__

  - job_name: program
    metrics_path: /
    static_configs:
    - targets: 
      {% for item in program_host %}
      - {{ item }}
      {% endfor %}
      
  - job_name: blackbox_exporter
    static_configs:
    - targets:
      {% for item in blackbox_exporter_hosts %}
      - {{ item }}
      {% endfor %}
  
  - job_name: pushgateway
    static_configs:
    - targets:
      {% for item in pushgateway_hosts %}
      - {{ item }}
      {% endfor %}


  - job_name: my_website
    static_configs:
    - targets:
      - https://prometheus.io
      - duongdx.com
      - https://viblo.asia
    metrics_path: /probe
    params:
      mode: 
        - http_2xx
    # config blackbox scrape data instead prometheus sever:
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ blackbox_exporter_hosts[0] }}

  - job_name: my_prom_cluster
    static_configs:
    - targets:
      - 192.168.56.88
      - 192.168.56.90
      - 192.168.56.91
    metrics_path: /probe
    params:
      module: [icmp_custom] 
    # config blackbox scrape data instead prometheus sever:
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: {{ blackbox_exporter_hosts[0] }}

  - job_name: multiple_dns_query
    static_configs:
      - targets:
          # facebook.com
          - facebook.com:8.8.8.8
          - facebook.com:1.1.1.1
          - facebook.com:127.0.0.1
          # imdb.com:
          - imdb.com:8.8.8.8
          - imdb.com:1.1.1.1
          - imdb.com:127.0.0.1
          # duongdx.com:
          - duongdx.com:8.8.8.8
          - duongdx.com:1.1.1.1
          - duongdx.com:127.0.0.1
    metrics_path: /probe
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - source_labels: [__param_target]
        regex: '(.*):.*$'
        replacement: '$1'
        target_label: 'domain'
      - source_labels: [__param_target]
        regex: '.*:(.*)$'
        replacement: '$1'
        target_label: 'instance'
      - source_labels: [__param_target]
        regex: '(.*):.*$'
        replacement: '$1'
        target_label: __param_module
      - source_labels: [__param_target]
        regex: '.*:(.*)$'
        replacement: '$1'
        target_label: __param_target
      - target_label: __address__
        replacement: {{ blackbox_exporter_hosts[0] }}  # The blackbox exporter's real hostname:port.
    
rule_files:
  #- rules/prometheus_alerts_rules.yml
  - rules/instance-rules.yml
  - rules/application-rules.yml

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - {{ alertmanagers_endpoint }}